In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [2]:
list_files = os.listdir('datasets/history-scottish-witchcraft/')

In [3]:
def create_dfs(list_files):
    dfs_dict = {}
    for filename in list_files:
        if filename[-4:] == '.csv':
            df_name = filename[4:-4]
            dfs_dict[df_name] = pd.read_csv('datasets/history-scottish-witchcraft/{}'.format(filename))
    return dfs_dict

In [5]:
all_dfs = create_dfs(list_files)

In [6]:
all_dfs.keys()

['MovestoHLA',
 'CalendarCustom',
 'Imprisonment',
 'MentionedAsWitch',
 'RitualObject',
 'Commission',
 'ReligiousMotif',
 'DevilAppearance',
 'Appeal',
 'OtherNamedwitch',
 'ShapeChanging',
 'Complaint',
 'WitchesMeetingPlace',
 'Torture',
 'Elf_FairyElements',
 'WeatherModification',
 'Ref_Parish',
 'Trial_Person',
 'Case',
 'PropertyDamage',
 'PrevCommission',
 'DemonicPact',
 'Ordeal',
 'Person',
 'Denunciation',
 'Trial',
 'WhiteMagic',
 'MusicalInstrument',
 'Reference',
 'Source',
 'Confession',
 'CounterStrategy',
 'Malice',
 'Case_person',
 'Accused',
 'LinkedTrial',
 'Accused_family',
 'OtherCharges']

In [50]:
accused = all_dfs['Accused']

In [53]:
accused.head(1)

,AccusedRef,AccusedSystemId,AccusedID,FirstName,LastName,M_Firstname,M_Surname,Alias,Patronymic,DesTitle,...,Res_NGR_Northing,Ethnic_origin,MaritalStatus,SocioecStatus,Occupation,Notes,Createdby,Createdate,Lastupdatedby,Lastupdatedon
0,A/EGD/10,EGD,10,Mareon,Quheitt,Marion,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SMD,05/15/01 11:06:51,jhm,08/09/02 11:40:51

In [55]:
accused.columns

Index([u'AccusedRef', u'AccusedSystemId', u'AccusedID', u'FirstName',
       u'LastName', u'M_Firstname', u'M_Surname', u'Alias', u'Patronymic',
       u'DesTitle', u'Sex', u'Age', u'Age_estcareer', u'Age_estchild',
       u'Res_settlement', u'Res_parish', u'Res_presbytery', u'Res_county',
       u'Res_burgh', u'Res_NGR_Letters', u'Res_NGR_Easting',
       u'Res_NGR_Northing', u'Ethnic_origin', u'MaritalStatus',
       u'SocioecStatus', u'Occupation', u'Notes', u'Createdby', u'Createdate',
       u'Lastupdatedby', u'Lastupdatedon'],
      dtype='object')

In [56]:
family = all_dfs['Accused_family']

In [57]:
family.head(1)

,Accused_familyRef,Accused_familySystemId,Accused_familyID,Surname,Firstname,Alias,Patronymic,DesTitle,Est_Year_of_Birth,Age,Age_estcareer,Age_estchild,Occupation,Relationship,AccusedRef,Createdby,Createdate,Lastupdatedby,Lastupdatedon
0,AF/JO/1,JO,1,Leyis,John,NaN,NaN,NaN,NaN,NaN,0,0,stabler,husband,A/EGD/2067,jhm,05/16/01 14:45:56,jhm,05/16/01 14:48:31

In [59]:
family.shape

(951, 19)

In [60]:
mentioned = all_dfs['MentionedAsWitch']

In [65]:
mentioned.head(1)

,MentionRef,MentionSystemId,MentionID,Trialref,Mentiondate,Mentiondate_as_date,Mentiontype,TrialOfAccusedRef,TrialOfFirstName,TrialOfLastName,MentionedInTrialOfRef,dateOfMentionedTrial,dateOfMentionedTrial_as_date,FateOfMentionedWitch,Notes,Createdby,Createdate,Lastupdatedby,Lastupdatedon
0,MW/JO/1,JO,1,T/JO/4,23/2/1597,02/23/97 00:00:00,Accomplice,A/EGD/2068,Thomas,Leyis,T/JO/3,17/2/1597,02/17/97 00:00:00,Burnt,NaN,jhm,05/17/01 16:31:34,LEM,09/09/02 15:07:04

In [64]:
mentioned.Mentiontype.unique()

array(['Accomplice', 'Denounced', 'Witchcraft Precedent', 'Known Witch',
       nan, 'Previously Tried', 'Consulted', 'Hired'], dtype=object)

In [66]:
mentioned.FateOfMentionedWitch.unique()

array(['Burnt', nan, 'Banished', 'Set free', 'Strangled/burnt', 'executed',
       'Dead', 'Died (natural causes)', 'Executed', 'Died in Prison',
       'Fugitive', 'Suicide in prison', 'Died', 'Suicide'], dtype=object)

In [12]:
malice = all_dfs['Malice']

In [33]:
malice.head(1)

,MaliceRef,MaliceSystemId,MaliceID,CaseRef,Causeofmalice,Createdby,Createdate,Lastupdatedby,Lastupdatedon
0,MA/JO/1,JO,1,C/EGD/2120,Failed business interaction,jhm,05/16/01 17:01:25,jhm,05/16/01 17:05:02

In [16]:
malice.Causeofmalice.unique()

array(['Failed business interaction', 'Debt', 'Jealousy of Neighbours',
       'Revenge', 'Grudge', 'Slander', 'Social slight', 'Physical insult',
       'Exclusion from social events', 'Refusal of alms', nan,
       'Business interactions', 'Failed healing',
       'Revenge for being called a witch', 'Verbal Insult', 'Taunting',
       'Envy'], dtype=object)

In [17]:
confession = all_dfs['Confession']

In [32]:
confession.head(1)

,ConfessionRef,ConfessionSystemId,ConfessionID,Trialref,CentralTrialConfession,Confessionrec,Confessiondate,Confessiondate_as_date,Confessionplace,Confessionlocation,Confessiontext,Confessiondetails,Confessionret,Notes,Createdby,Createdate,Lastupdatedby,Lastupdatedon
0,CF/JO/1,JO,1,T/JO/2,0,1,19/4/1643,04/19/43 00:00:00,Church,Haddington,0,1,0,NaN,jhm,05/17/01 12:11:47,jhm,05/17/01 12:12:27

In [21]:
moves = all_dfs['MovestoHLA']

In [31]:
moves.head(1)

,MoveRef,MoveSystemId,MoveID,Trialref,Moveto,Moveexists,Movedate,Movedate_as_date,Createdby,Createdate,Lastupdatedby,Lastupdatedon
0,HLA/JO/10,JO,10,T/JO/342,Bishop,1,17/5/1632,05/17/32 00:00:00,jhm,07/04/01 13:35:08,jhm,07/04/01 13:35:18

In [23]:
torture = all_dfs['Torture']

In [30]:
torture.Torturetype.unique()

array(['Burning feet', 'Various', 'Sleep Deprivation', 'Bound with ropes',
       'Whip', 'Hanging by thumbs', nan, 'Stocks', 'Irons', 'Bow strings',
       'Wedges on the shins', 'Cashielaws', 'Haircloth', 'Tied to pole'], dtype=object)

In [34]:
imprisonment = all_dfs["Imprisonment"]

In [35]:
imprisonment.head(1)

,ImprisonRef,ImprisonSystemId,ImprisonID,Trialref,CentralTrialImprison,Imprisondate,Imprisondate_as_date,Prison,Location,Moving,Fate_in_prison,Createdby,Createdate,Lastupdatedby,Lastupdatedon
0,IM/JO/10,JO,10,T/JO/78,0,NaN,NaN,Tolbooth,Haddington,0,NaN,jhm,06/07/01 16:20:29,LEM,10/28/02 12:45:55

In [36]:
devil_appearance = all_dfs['DevilAppearance']

In [45]:
devil_by_type = devil_appearance.groupby("Devil_Type")['CaseRef'].count()

In [49]:
devil_by_type.sort_values(ascending=False)

Devil_Type
Male                      250
Animal Devil               60
Female                     26
Spirit                     17
Unspecified Devil           9
Male Fairy                  9
Female Fairy                6
Ghost                       5
Fairy                       4
Inanimate Object Devil      2
Human Devil                 2
Other Demon                 1
Insect Devil                1
Child Devil                 1
Baby                        1
Name: CaseRef, dtype: int64